.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

/* Escenario plataformas */
.escenario {
  position: relative;
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, #87CEEB 0%, #98D8C8 50%, #6B8E23 100%);
  overflow: hidden;
}

.cielo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
}

.sol {
  position: absolute;
  margin: auto;
  bottom: -37px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  background: #ff7f00;
  border-radius: 50%;
  box-shadow: 0 0 40px #FFA500;
}

.nube {
  position: absolute;
  background: white;
  border-radius: 100px;
  opacity: 0.8;
}

.nube1 {
  top: 80px;
  left: 15%;
  width: 100px;
  height: 40px;
}

.nube2 {
  top: 120px;
  right: 20%;
  width: 120px;
  height: 45px;
}

.bosque-fondo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, #228B22, #355E3B);
}

.suelo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #8B4513;
  border-top: 5px solid #654321;
}

.pasto {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 30px;
  background: #228B22;
}

.plataforma {
  position: absolute;
  background: #8B4513;
  border: 3px solid #654321;
  border-radius: 10px;
}

.plataforma1 {
  bottom: 200px;
  left: 15%;
  width: 200px;
  height: 25px;
}

.plataforma2 {
  bottom: 350px;
  left: 40%;
  width: 180px;
  height: 25px;
}

.plataforma3 {
  bottom: 40%;
  right: 0%;
  width: 220px;
  height: 25px;
}

.card {
  background: #22C1C3;
  background: linear-gradient(180deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 12px;
  overflow: hidden;
  max-width: 800px;
  margin: 40px auto;
  white-space: nowrap;
  /* evita que los inline-block se bajen */
}

.card-image {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.card-image img {
  width: 100%;
  height: 100%;
  margin: 10px;
  border-radius: 12px;
}

.card-content {
  display: inline-block;
  width: 60%;
  padding: 30px;
  white-space: normal;
  /* permite texto multilinea */
}

.card-content h2 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #333;
}

.card-content p {
  margin-bottom: 25px;
  color: #777;
  line-height: 1.5;
}

.card-footer {
  display: inline-block;
  width: 100%;
}

.card-user-info {
  display: inline-block;
  vertical-align: middle;
}

.card-user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.card-user-info p {
  font-weight: bold;
  color: #333;
}

.card-user-info span {
  display: block;
  font-size: 12px;
  color: #888;
}

/* icono compartir */
.card-share {
  float: right;
}

.card-share img {
  width: 40px;
}