*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  background-color: #ff0404;
}

h1, h2, h3, h4, h5, h6, p, a{
  text-decoration: none;
}

.text-style{
  font-family: monospace;
  font-size: 1.8rem; /* rem: 16px */
  font-style: oblizque;
  font-weight: bolder;
}
.purple{color:blueviolet}
.orange{color: orange;}
.celeste{color: aqua}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.box{
  display: inline-block;
  /* width: 172px; 
  height: 38px; */
  background-color: blueviolet;
  padding: 10px 50px; 
  /* padding-right: 50%; */
  margin: 30px auto 0px auto;
  text-align: center;
  border: 6px solid white;
  border-radius: 10px;
}

.card {
  background: rgb(0, 12, 65);
  border-radius: 12px;
  overflow: hidden;
  max-width: 800px;
  margin: 40px auto;
  white-space: nowrap; /* evita que los inline-block se bajen */
}

.card-image {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.card-image img {
  width: 100%;
  height: 100%;
  margin: 10px;
  border-radius: 12px;
}

.card-content {
  display: inline-block;
  width: 60%;
  padding: 30px;
  white-space: normal; /* permite texto multilinea */
}

.card-content h2 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #333;
}

.card-content p {
  margin-bottom: 25px;
  color: #777;
  line-height: 1.5;
}

.card-footer {
  display: inline-block;
  width: 100%;
}

.card-user-info {
  display: inline-block;
  vertical-align: middle;
}

.card-user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.card-user-info p {
  font-weight: bold;
  color: #333;
}

.card-user-info span {
  display: block;
  font-size: 12px;
  color: #888;
}

/* icono compartir */
.card-share {
  float: right;
}

.card-share img {
  width: 40px;
}